[project]
	description = Vacuum cleaner simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Finkmilkana
[access "refs/for/refs/*"]
	read = group user/Finkmilkana
	push = group user/Finkmilkana
	label-Code-Review = -2..+2 group user/Finkmilkana
	label-Verified = -1..+1 group user/Finkmilkana
	rebase = group user/Finkmilkana
	removeReviewer = group user/Finkmilkana
	submit = group user/Finkmilkana
[access "refs/heads/*"]
	read = group user/Finkmilkana
	create = group user/Finkmilkana
	push = +force group user/Finkmilkana
	pushMerge = group user/Finkmilkana
[access "refs/tags/*"]
	push = group user/Finkmilkana
	push = +force group user/Finkmilkana
